.main_header {
  border: 1px solid blue;
}

.nav_bar a {
  display: inline-block;
  list-style: none;
  padding-left: 10px;
  padding-right: 10px;
}

a {
  color: purple;
}

.disabled a {
  color: purple;
}

a .disabled {
  color: purple;
}

.disabled {
  color: grey;
}

.active {
  color: yellow;
}

.im_red {
  color: red;
}

.im_blue {
  color: blue;
}

.background_red {
  background-color: red;
}

.background_blue {
  background-color: blue;
}

.grandparent > h4 {
  border: 1px solid black;
  border-radius: 20%;
}

.promo {
  font-style: bold;
  color: gold;
}

.padded span input {
  height: 25px;
}

.purple_override {
  color: purple;
}





